* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #080808;
  color: #fff;
  justify-content: center;
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
}

.bckImg {
  width: 22%;
  height: 22%;
  clip-path: circle();
  left: 560px;
  top: 100px;
  position: relative;
}

.responsive-headline {
  font-size: 75.2px;
  position: relative;
  margin: 0;
  margin-top: 65px;
  margin-bottom: 20px;
  text-align: center;
}

.responsive-subheading {
  text-align: center;
  position: relative;
  margin: 0;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgba(234, 240, 246, 0.8);
  font-size: 18px;
}
