* {
  margin: 0;
  padding: 0;
  font-family: Playfair Display SC;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #b7b7b7;
  color: rgb(34, 34, 34);
  justify-content: center;
  display: flex;
}

#header {
  margin-bottom: 0px;
}

.container {
  margin-bottom: 0px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

.bckImg {
  width: 22%;
  height: 22%;
  clip-path: circle();
  left: 560px;
  top: 70px;
  position: relative;
}

.responsive-headline {
  font-size: 75.2px;
  position: relative;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
}

.responsive-subheading {
  text-align: center;
  position: relative;
  margin: 0;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  /* color: rgba(234, 240, 246, 0.8); */
  color: rgb(46, 46, 46);
  font-size: 18px;
}

.socialMedia {
  text-align: center;
  margin-top: 20px;
  word-spacing: 40px;
}

.fa-facebook {
  /* font-size: 40px;
  color: #3b5998;
  background-repeat: no-repeat; */
  font-size: 40px;
  color: #3b5998;
  background-repeat: no-repeat;
  transition: transform 0.3s, color 0.3s;
}

.fa-facebook:hover {
  /* transform: scale(1.2);
  color: #293d68; */
  transform: scale(1.2);
  color: #4267b2;
}

.fa-github {
  /* font-size: 40px;
  color: #000;
  background-repeat: no-repeat; */
  font-size: 40px;
  color: #000;
  background-repeat: no-repeat;
  transition: transform 0.3s, color 0.3s;
}

.fa-github:hover {
  transform: scale(1.2);
  color: #333;
}

.fa-instagram {
  /* font-size: 40px;
  background-repeat: no-repeat;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text; */
  /* Also define standard property for compatibility */
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 40px;
  background-repeat: no-repeat;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s, background-color 0.3s;
}

.fa-instagram:hover {
  /* transform: scale(1.2); */
  transform: scale(1.2);
}

.fa-linkedin {
  font-size: 40px;
  color: #0a66c2;
  background-repeat: no-repeat;
  transition: transform 0.3s, color 0.3s;
}

.fa-linkedin:hover {
  transform: scale(1.2);
  color: #2867b2;
}

.smoothscrol {
  text-align: center;
  margin-top: 30px;
}

/* -----------------------------About--------------------------------*/
.row {
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.about-col {
  flex-basis: 48%;
}

#about {
  background-color: rgb(66, 63, 63);
  padding-top: 44px;
  padding-bottom: 44px;
  overflow: hidden;
  /* new */
  /* display: flex;*/
  /* flex-wrap: wrap; */
}
.about-content {
  text-align: center;
}

@media (min-width: 768px) {
  .about-content {
    text-align: justify;
    max-width: 600px;
    margin: 0 auto;
  }
}

/* .about-col-1,
.about-col-2 {
  flex-basis: 100%;
  text-align: center;
} */

.about-col-1 {
  margin-top: 3px;
  margin-left: auto;
}

.about-col-2 h2 {
  font-family: Playfair Display SC;
  margin-bottom: auto;
}

.about-col-2 {
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  justify-content: center;
  padding: 0 20px;
}

.about-col-2 p {
  color: rgb(172, 166, 166);
  text-align: justify;
  max-width: 100%;
  word-break: break-word;
}
.about-col-2 .para-1 {
  margin-bottom: 40px;
}

.about-col-2 .para-2 {
  margin-top: 10px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.video-placeholder {
  animation: slideInFromLeft 1s ease-in-out;
}

.resume-download {
  text-align: center;
  margin-top: 20px;
}

.resume-download button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #555;
  opacity: 1;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.resume-download button:hover:before {
  opacity: 1;
}

.resume-download button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.resume-download button:focus {
  outline: none;
}

.resume-download button:active {
  transform: translateY(1px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
/* --------------- Resume -------------- */
/* --------------- Education -------------- */
#resume {
  display: flex;
}

.education {
  background-color: #f5f5f5;
  padding: 50px;
}

.education h2 {
  font-family: Playfair Display SC;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

/* .timeline ::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12px;
  width: 2px;
  background-color: #333;
} */
.timeline li {
  position: relative;
  padding-left: 40px;
  list-style: none;
}
.timeline li .bullet {
  position: absolute;
  top: 16px;
  left: 4px;

  border-radius: 50%;
  overflow: hidden;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
  }
}
.bullet {
  position: absolute;
  left: -20px;
  top: 12%;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  transition: box-shadow 0.6s;
}

.bullet img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bullet:hover {
  animation: shadow-pulse 1s infinite;
}

.timeline li:hover .bullet {
  box-shadow: 0 0 0 10px #555;
  animation: shadow-pulse 1s infinite;
}

.timeline li:hover .bullet::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  border-radius: 50%;
}

/* code for showing timeline style line between both bullets in education"
    
    /* .timeline li::before {
      content: "";
      position: absolute;
      top: 55px;
      left: -1%;
      width: 2px;
      height: calc(100% - 25px);
      background-color: #333; 
      transform: translateX(-50%);
      z-index: 0;
      font-weight: bold;
    } */

.education-entry {
  background-color: #f5f5f5;
  padding: 17px;
  width: 60%;
  transition: transform 0.3s;
}

.education-entry h3 {
  font-family: Caprasimo;
  font-size: 24px;
  margin-bottom: 5px;
}

.education-entry .degree {
  font-family: Pacifico;
  font-style: italic;
  font-weight: bold;
  color: #555;
}

.education-entry .dates {
  font-family: Pacifico;
  color: #888;
}

.education-entry .info {
  font-family: Sacramento;
  overflow-wrap: break-word;
  text-align: justify;
  /* display: -webkit-box;
      -webkit-box-orient: vertical; */
  overflow: hidden;
  /* line-height: 1.5; */
  /* max-height: 4.5em; */
}

.education-entry .info p {
  text-align: justify;
}

.education-entry .degree,
.education-entry .grad-date,
.education-entry .info {
  display: inline-block;
  margin-left: 40px;
  display: block;
}
/* --------------- Work Experience -------------- */
.work-exp {
  margin: 10px;
}
.work-exp .timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.work-exp .text-box {
  padding: 20px 30px;
  background-color: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.work-exp .container {
  padding: 10px 0px;
  position: relative;
  width: 410px;
  background-color: rgba(0, 0, 0, 0.3);
}
.work-exp .text-box p {
  text-align: justify;
  /* justify-content: end; */
}
.work-exp .left-container {
  left: 0px;
}

.work-exp .right-container {
  left: 29%;
}

.work-exp .container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}
